<!DOCTYPE ejs>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Partida</title>
    <link rel="stylesheet" href="CSS/partida.css">
    <link rel="shortcut icon" type="imagex/png" href="./IMG/france-logo-init.png">
</head>

<body>
    <section class="main-bg page">

        <div class="conteiner">

            <div class="header">
                <div>
                    <a href="./Atleta" style="margin-right:20px;">Adicionar Atleta</a>
                    <a href="./Partida">Efetivar Partida</a>
                </div>
                <a href="./menu"><img src="./IMG/logo-olim-juiz.png" alt="Ícone das Olimpíadas" class="logo"></a>
                <a href="./Dados">Buscar Dados</a>
            </div>
            <form action="/Agendar" method="POST">

                <div class="buscaPeso">

                    <div class="searchPeso">

                        <select name="categoria" id="categoria">

                            <optgroup label="Categoria de Peso"></optgroup>
                            <optgroup label="Masculino">
                                <option value="1">Peso Mosca</option>
                                <option value="2">Peso Pena</option>
                                <option value="3">Peso Leve</option>
                                <option value="4">Meio-Médio</option>
                                <option value="5">Peso Médio</option>
                                <option value="6">Meio-Pesado</option>
                                <option value="7">Pesado</option>
                                <option value="8">Super Pesado</option>
                            </optgroup>
                            <optgroup label="Feminino">
                                <option value="9">Peso Mosca</option>
                                <option value="10">Peso Pena</option>
                                <option value="11">Peso leve</option>
                                <option value="12">Peso Meio-Médio</option>
                                <option value="13">Peso Médio</option>
                            </optgroup>

                        </select>

                    </div>



                </div>

                <div class="buscaPartida">

                    <div class="searchPartida">

                        <select name="partida" id="partida">

                            <option value="1"> Partida 1 </option>
                            <option value="2"> Partida 2 </option>
                            <option value="3"> Partida 3 </option>
                            <option value="4"> Partida 4 </option>
                            <option value="5"> Partida 5 </option>
                            <option value="6"> Partida 6 </option>
                            <option value="7"> Partida 7 </option>

                        </select>

                    </div>

                <div class="line3">
                    <p>Data</p>
                    <input type="date" name="date1" id="date1" min="2024-01-01" max="2024-12-31" required>
                </div>

                <div class="line4">
                    <p>Local</p>
                    <input type="text" name="local" id="local" placeholder="Cidade" required>
                </div>

                <input type="submit" class="submit" value="Adicionar Partida">

            </form>
        </div>

    </section>


    <script>

    </script>

</body>

</html>