<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaveamento do Torneio</title>
    <link rel="stylesheet" href="./CSS/chaveamento.css">
    <link rel="shortcut icon" type="imagex/png" href="./IMG/france-logo-init.png">
</head>

<body>
    <section class="page">
        <nav class="menu">
            <div class="div-logo">
                <a href="/"><img class="logo-olim" src="./IMG/france-logo-init.png" alt="Logo das olimpiadas"></a>
            </div>
            <div class="hamb">
                <ul>
                    <li>
                        <a href="#">
                            <svg width="27" height="25" viewBox="0 0 27 25" fill="none"
                                xmlns="http://www.w3.org/2000/   svg">
                                <path d="M26.6491 0H0V2.72222H26.6491V0Z" fill="#F2F2F3" />
                                <path d="M26.6491 21.7778H0V24.5H26.6491V21.7778Z" fill="#F2F2F3" />
                                <path d="M26.6491 10.8889H0V13.6111H26.6491V10.8889Z" fill="#F2F2F3" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content" style="display:flex;">

            <aside class="sidebar">
                <div class="category classe">Masculino</div>
                <div class="category" onclick="mostrar('peso-mosca-m')">Peso Mosca 48-52kg</div>
                <div class="category" onclick="mostrar('peso-pena-m')">Peso Pena 52-57kg</div>
                <div class="category" onclick="mostrar('peso-leve-m')">Peso Leve 57-63kg</div>
                <div class="category" onclick="mostrar('peso-meio-medio-m')">Meio-Médio 63-69kg</div>
                <div class="category" onclick="mostrar('peso-medio-m')">Peso Médio 69-75kg</div>
                <div class="category" onclick="mostrar('peso-meio-pesado')">Meio-Pesado 75-81kg</div>
                <div class="category" onclick="mostrar('peso-pesado')">Pesado 81-91kg</div>
                <div class="category" onclick="mostrar('peso-super-pesado')">Super Pesado +91kg</div>
                <div class="category classe">Feminino</div>
                <div class="category" onclick="mostrar('peso-mosca-f')">Peso Mosca 48-51kg</div>
                <div class="category" onclick="mostrar('peso-pena-f')">Peso Pena 51-57kg</div>
                <div class="category" onclick="mostrar('peso-leve-f')">Peso Leve 57-63kg</div>
                <div class="category" onclick="mostrar('peso-meio-medio-f')">Meio-Médio 63-69kg</div>
                <div class="category" onclick="mostrar('peso-medio-f')">Peso Médio 69-75kg</div>
            </aside>

            <div class="main-content" id="main-content">
                <div class="prim">
                    <div class="conteinerzin">

                        <div class="oitavas" name="oitavas">

                            <div class="time">

                            </div>
                            <div class="time">

                            </div>

                        </div>

                        <div class="oitavas" name="oitavas">

                            <div class="time">

                            </div>
                            <div class="time">

                            </div>

                        </div>

                        <div class="oitavas" name="oitavas">

                            <div class="time">
                                
                            </div>
                            <div class="time">

                            </div>

                        </div>

                        <div class="oitavas" name="oitavas">

                            <div class="time">

                            </div>
                            <div class="time">

                            </div>

                        </div>

                    </div>
                </div>
                <div class="segun">
                    <div class="conteinerzin">

                        <div class="semis" name="semis">

                            <div class="time">

                            </div>
                            <div class="time">

                            </div>

                        </div>

                        <div class="semis" name="semis">

                            <div class="time">

                            </div>
                            <div class="time">

                            </div>

                        </div>

                    </div>
                </div>
                <div class="terc">
                    <div class="conteinerzin">

                        <div class="final" name="final">

                            <div class="time">

                            </div>
                            <div class="time">

                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </section>

    <script>

    </script>
</body>

</html>