<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaveamento do Torneio</title>
    <link rel="stylesheet" href="./CSS/chaveamento.css">
    <link rel="shortcut icon" type="imagex/png" href="./IMG/france-logo-init.png">
</head>

<body>
    <section class="page">
        <nav class="menu">
            <div class="div-logo">
                <a href="/"><img class="logo-olim" src="./IMG/france-logo-init.png" alt="Logo das olimpiadas"></a>
            </div>
            <div class="hamb">
                <ul>
                    <li>
                        <a href="#">
                            <svg width="27" height="25" viewBox="0 0 27 25" fill="none"
                                xmlns="http://www.w3.org/2000/   svg">
                                <path d="M26.6491 0H0V2.72222H26.6491V0Z" fill="#F2F2F3" />
                                <path d="M26.6491 21.7778H0V24.5H26.6491V21.7778Z" fill="#F2F2F3" />
                                <path d="M26.6491 10.8889H0V13.6111H26.6491V10.8889Z" fill="#F2F2F3" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="content" style="display:flex;">

            <aside class="sidebar">
                <div class="category classe">Masculino</div>
                <div class="category" onclick="mostrar('1')">Peso Mosca 48-52kg</div>
                <div class="category" onclick="mostrar('2')">Peso Pena 53-57kg</div>
                <div class="category" onclick="mostrar('3')">Peso Leve 58-63kg</div>
                <div class="category" onclick="mostrar('4')">Meio-Médio 64-69kg</div>
                <div class="category" onclick="mostrar('5')">Peso Médio 70-75kg</div>
                <div class="category" onclick="mostrar('6')">Meio-Pesado 76-81kg</div>
                <div class="category" onclick="mostrar('7')">Pesado 82-91kg</div>
                <div class="category" onclick="mostrar('8')">Super Pesado +91kg</div>
                <div class="category classe">Feminino</div>
                <div class="category" onclick="mostrar('9')">Peso Mosca 48-51kg</div>
                <div class="category" onclick="mostrar('10')">Peso Pena 52-57kg</div>
                <div class="category" onclick="mostrar('11')">Peso Leve 58-63kg</div>
                <div class="category" onclick="mostrar('12')">Meio-Médio 64-69kg</div>
                <div class="category" onclick="mostrar('13')">Peso Médio 70-75kg</div>
            </aside>

            <div class="main-content" id="main-content">
                <div class="prim">
                    <div class="conteinerzin">

                        <div class="oitavas" name="oitavas">

                            <div class="time">
                                <img id="img1" class="icon"></img>
                                <p id="nome1" class="nome"></p>
                                <p id="num1" class="num"></p>
                            </div>
                            <div class="time">
                                <img id="img2" class="icon"></img>
                                <p id="nome2" class="nome"></p>
                                <p id="num2" class="num"></p>
                            </div>

                        </div>

                        <div class="oitavas" name="oitavas">

                            <div class="time">
                                <img id="img3" class="icon"></img>
                                <p id="nome3" class="nome"></p>
                                <p id="num3" class="num"></p>
                            </div>
                            <div class="time">
                                <img id="icon4" class="icon"></img>
                                <p id="nome4" class="nome"></p>
                                <p id="num4" class="num"></p>
                            </div>

                        </div>

                        <div class="oitavas" name="oitavas">

                            <div class="time">
                                <img id="icon5" class="icon"></img>
                                <p id="nome5" class="nome"></p>
                                <p id="num5" class="num"></p>
                            </div>
                            <div class="time">
                                <img id="icon6" class="icon"></img>
                                <p id="nome6" class="nome"></p>
                                <p id="num6" class="num"></p>
                            </div>

                        </div>

                        <div class="oitavas" name="oitavas">

                            <div class="time">
                                <img id="icon7" class="icon"></img>
                                <p id="nome7" class="nome"></p>
                                <p id="num7" class="num"></p>
                            </div>
                            <div class="time">
                                <img id="icon8" class="icon"></img>
                                <p id="nome8" class="nome"></p>
                                <p id="num8" class="num"></p>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="segun">
                    <div class="conteinerzin">

                        <div class="semis" name="semis">

                            <div class="time">
                                <img id="icon9" class="icon"></img>
                                <p id="nome9" class="nome"></p>
                                <p id="num9" class="num"></p>
                            </div>
                            <div class="time">
                                <img id="icon10" class="icon"></img>
                                <p id="nome10" class="nome"></p>
                                <p id="num10" class="num"></p>
                            </div>

                        </div>

                        <div class="semis" name="semis">

                            <div class="time">
                                <img id="icon11" class="icon"></img>
                                <p id="nome11" class="nome"></p>
                                <p id="num11" class="num"></p>
                            </div>
                            <div class="time">
                                <img id="icon12" class="icon"></img>
                                <p id="nome12" class="nome"></p>
                                <p id="num12" class="num"></p>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="terc">
                    <div class="conteinerzin">

                        <div class="final" name="final">

                            <div class="time">
                                <img id="icon13" class="icon"></img>
                                <span id="nome13" class="nome"></span>
                                <span id="num13" class="num"></span>
                            </div>
                            <div class="time">
                                <img id="icon14" class="icon"></img>
                                <span id="nome14" class="nome"></span>
                                <span id="num14" class="num"></span>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </section>

    <script>

        async function mostrar(categoria) {

            try {
                const response = await fetch(`/api/categoria/${categoria}`);
                const partidas = await response.json();

                // Limpa todos os elementos antes de preenchê-los
                for (let i = 1; i <= 14; i++) {
                    const imgElement = document.getElementById(`img${i}`);
                    const nomeElement = document.getElementById(`nome${i}`);
                    const numElement = document.getElementById(`num${i}`);

                    // if (imgElement) imgElement.src = '';
                    nomeElement.textContent = '';
                    numElement.textContent = '';
                }

                partidas.forEach((partida, index) => {
                    const baseIndex = index * 2 + 1;
                    // Elementos para o primeiro lutador
                    const imgElement1 = document.getElementById(`img${baseIndex}`);
                    const nomeElement1 = document.getElementById(`nome${baseIndex}`);
                    const numElement1 = document.getElementById(`num${baseIndex}`);

                    // Elementos para o segundo lutador
                    const imgElement2 = document.getElementById(`img${baseIndex + 1}`);
                    const nomeElement2 = document.getElementById(`nome${baseIndex + 1}`);
                    const numElement2 = document.getElementById(`num${baseIndex + 1}`);

                    // Atualiza elementos do primeiro lutador
                    // imgElement1.src = partida.img_url1; 
                    nomeElement1.textContent = partida.id_atleta;
                    numElement1.textContent = partida.ponto1;

                    // Atualiza elementos do segundo lutador
                    // imgElement2.src = partida.img_url2;
                    nomeElement2.textContent = partida.id_atleta2; 
                    numElement2.textContent = partida.ponto2;
                });
            } catch (error) {
                console.error('Erro ao buscar partidas:', error);
            }
        }
    </script>
</body>

</html>