<!DOCTYPE ejs>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aba do Juiz</title>
    <link rel="stylesheet" href="CSS/atleta.css">
    <link rel="shortcut icon" type="imagex/png" href="./IMG/france-logo-init.png">
</head>

<body>
    <section class="main-bg page">

        <div class="conteiner">

            <div class="header">
                <a href="#">Adicionar Partida</a>
                <img src="./IMG/logo-olim-juiz.png" alt="Ícone das Olimpíadas" class="logo">
                <a href="#">Buscar Dados</a>
            </div>
            <form action="">

                <div class="buscaPeso">

                    <div class="searchPeso"> <select type="button" value="Categoria de Peso" id="categoria"></select> </div>

                    <select id="listaCategorias">

                    </select>

                </div>

                <div class="line1">
                    <input type="text" name="atelta" id="atleta" placeholder="Nome">
                    <input type="search" name="pais" id="pais" placeholder="País">
                </div>
                
                <div class="line1">
                    <input type="number" name="peso" id="peso" placeholder="Peso">
                    <input type="number" name="idade" id="idade" placeholder="Idade">
                </div>

                <input type="button" class="submit" value="Cadastrar Atleta">

            </form>
        </div>

    </section>


</body>

<script src="JS/filtrar.js"></script>

</html>