<!DOCTYPE ejs>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aba De Login</title>
    <link rel="stylesheet" href="./CSS/login.css">
    <link rel="shortcut icon" type="imagex/png" href="./IMG/france-logo-init.png">
</head>
<body>
    <section class="page bg">
        <a href="./" class="logo">
            <img src="./IMG/olimpiadas logo-login.png" alt="logo olimpiadas">
        </a>
        <div class="form">
            <div class="icon"><img src="./IMG/logo-luva-login.png" alt=""></div>
            <form action="/login" method="POST">
                <input type="text" id="username" name="username" maxlength="256" placeholder="EmailExemplo@email.com" required>
                <input type="password" id="password" name="password" maxlength="128" placeholder="Senha" required>
                <button> LOGIN </button>
            </form>
        </div>
    </section>
</body>
</html>