<!DOCTYPE ejs>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="CSS/menu.css">
    <link rel="shortcut icon" type="imagex/png" href="./IMG/france-logo-init.png">
</head>

<body>
    <section class="main-bg page">

        <div class="conteiner">
            <button class="escolhas" action="/Atleta" method="GET"> Adicionar Atleta </button>
            <button class="escolhas"> Adicionar Partidas </button>
            <button class="escolhas"> Buscar Dados </button>
            <a action="/Atleta" method="GET" href="/Atleta">DALE</a>
            <!-- <button class="escolhas"> Partida Ao Vivo </button>  -->
        </div>

    </section>


</body>

<script src="JS/filtrar.js"></script>

</html>