<!DOCTYPE ejs>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="CSS/menu.css">
    <link rel="shortcut icon" type="imagex/png" href="./IMG/france-logo-init.png">
</head>

<body>
    <section class="main-bg page">
        <div class="voltar">
            <a href="/">
                <svg width="20" height="33" viewBox="0 0 20 33" fill="none" xmlns="http://www.w3.org/2000/svg" href="">
                    <path  d="M20 29.1225L7.63833 16.5L20 3.8775L16.1943 0L0 16.5L16.1943 33L20 29.1225Z" fill="white"/>
                </svg>  
            </a>
        </div>

        <div class="conteiner">
            <form action="/Atleta" method="GET"> 
                <button class="escolhas" type="submit">Adicionar Atleta</button>
            </form>

            <form  action="/Partida" method="GET"> 
                <button class="escolhas" type="submit"> Efetivar Partida </button>
            </form>

            <form  action="/Agendar" method="GET"> 
                <button class="escolhas" type="submit"> Agendar Partida </button>
            </form>

            <form  action="/Dados" method="GET"> 
                <button class="escolhas" type="submit"> Buscar Dados </button>
            </form>

            <form  action="/DadosPartidas" method="GET"> 
                <button class="escolhas" type="submit"> Buscar Dados Partida </button>
            </form>

            <!-- <form class="escolhas"> Partida Ao Vivo </form>  -->
        </div>

    </section>


</body>


</html>