<!DOCTYPE ejs>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="CSS/menu.css">
    <link rel="shortcut icon" type="imagex/png" href="./IMG/france-logo-init.png">
</head>

<body>
    <section class="main-bg page">

        <div class="conteiner">
            <form action="/Atleta" method="GET"> 
                <button class="escolhas" type="submit">Adicionar Atleta</button>
            </form>

            <form  action="/Partida" method="GET"> 
                <button class="escolhas" type="submit">Adicionar Partidas</button>
            </form>

            <form  action="/Dados" method="GET"> 
                <button class="escolhas" type="submit"> Buscar Dados </button>
            </form>
            <!-- <form class="escolhas"> Partida Ao Vivo </form>  -->
        </div>

    </section>


</body>


</html>