
/* Variáveis */

:root{
    --background: #0B0B0D;
    --text: #F2F2F3;
    --gap: 30px;
}

/* Elementos */

*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    color:var(--text);
    overflow-x:hidden;
    list-style:none;
}

h1{
    font-size: 96px;
    font-weight: bold;
}

h2{
    font-size: 64px;
    font-weight: bold;
}

h3{
    font-size: 32px;
}

p{
    font-size: 24px;
}



/* Classes */

.main-content{
    max-width:1200px;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.page{
    min-height:100vh;
}


/* Menu */



.logo-olim{
    width: 86px;
    height: 85.94px;
}


.menu{
    background: transparent;
    position:absolute;
    height: 173px;
    width:100vw;
    z-index:3000;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}



.menu .div-logo{
    align-self: center;
}



.menu ul{
    list-style:none;
}
.menu ul li a{
    font-size: 24px;
    font-weight: bold;
    display:flex;
    text-decoration:none;
    color:var(--text)
}



/* Main */

.main-bg{
    background-image:linear-gradient(180deg, rgba(0,0,0,0.54) 13%, rgba(102,102,102,0.1) 100%) ,radial-gradient(circle, rgba(2,2,2,0.15) 52%, rgba(2,2,2,0.66) 86%), linear-gradient(180deg, rgba(2,2,2,0) 98%, rgba(11,11,13,1) 100%), url('../IMG/paris-bg.png'); 
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}

.main-content{
    text-align:center;
    position:absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}

/* Regras */

.regras-bg {
    background-color:var(--background);
}

#Regras {
    position: relative;
    height: auto;
    text-align: center;
  }
#meio {
    display: flex;
  }
#Regras h3 {
    padding: 50px 0px;
  }
#Regras .conteudo {
    margin: 50px 80px;
  }
#Regras #meio li {
    position: relative;
    display: block;
    margin: auto;
    border-radius: 15px;
  }

#Regras #meio .centralizado {
    position: absolute;
    width: 100%;
    top: 27%;
  }


/* História */

.historia-bg{
    background-color:var(--background);

}
#historia {
    height: auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #0b0b0d;
    background-color: #0b0b0d;
  }
#historia h3 {
    text-align: center;
    margin: 50px 0px;
  }
#historia ul {
    margin: 50px 0px;
  }
#historia ul li {
    text-indent: 20px;
    display: block;
    text-align: center;
  }
#historia ul .conteudo {
    margin: 50px 80px;
  }
#historia ul li img {
    border-radius: 15px;
  }

.stylepop {
    position: absolute;
    height: 387px;
    width: 100%;
    border: none;
    appearance: none;
    background-color: transparent;
    border-radius: 5%;
    cursor: pointer;
  }
  
.styledentropop {
    width: 80%;
    height: 80%;
    border-radius: 14px;
    box-shadow: 0 0 1em rgb(0 0 0/ 1);
    border: none;
    background-size: cover;
    background-position: center;
    color: aliceblue;
    margin: auto;

    h2 {
      font-size: 24px;
      margin-bottom: 4%;
    }
    p {
      font-size: 20px;
      margin-bottom: 3%;
    }
}
#popfalta {
    background-image: url(../IMG/PopFaltas.png);
}
  
#popfalta nav {
    margin-top: 1%;
    font-size: 20px;
}
#popfalta nav li {
    margin-top: 1%;
    list-style: disc;
}
#fechar {
    text-align: right;
}
#fechar button {
    background-color: transparent;
    height: 30px;
    width: 30px;
    margin: 10px;
    cursor:pointer;
    border: 1px solid #FFF;
    color: aliceblue;
}
  
#boataoesquerdo {
  padding-left: 30px;
}

#popgolpe {
    background-image: url(../IMG/popgolpe1227x778.png);
    text-align: justify;
}
#popgolpe h2 {
    text-align: justify;
}
  
#popgolpe p {
    width: 80%;
    font-size: 16px;
}
  
  
  #botaolateral{
    position: absolute;
    width: 97%;
    text-align: right;
  }
  
  #boataodireita{
    background-color: transparent;
    height: 37px;
    cursor: pointer;
    border: none;
  }
  #popdireita{
    background-image: url(../IMG/popgolpe1227x778.png);
  }
  
  #popgolpe h2{
    text-indent: 6%;
  }
  @media (max-width: 800px){
    #popgolpe h2{
      text-align: center;
    }
  }
  #boataoesquerdo{
    background-color: transparent;
    position: absolute;
    border: none;
    cursor: pointer;
    margin-top: 45px;
  }
  
  
  /* POP RINGUE */
  
  /* /=============== POP-UP ====================/ */
  
  #popringue{
    background-image: url("../IMG/ringueescuro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* /================ BODY ====================/ */
  
  .paragraph{
    width: 850px;
    
  }
  
  .title{
    color: white;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
    display: flex;
    justify-content: center;
    z-index: 100;
    position: relative;
    top: 50px;
  }
  
  .text{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 100;
    position: relative;
    top: 50px;
  }
  
  .card{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
    width: 185px;
    height: 46px;
    border-radius: 8px;
    background-color: #0E0D12;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  /* /================== CARDS ==============/ */
  
  .card-position1{
    padding-top: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    margin-right: 16rem;
    margin-left: 16rem;
  }
  
  .card-position2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    margin-right: 5rem;
    margin-left: 5rem;
  }


  
/* Fim */

.fim-bg{
    background:linear-gradient(180deg, rgba(11,11,13,0) 70%, rgba(11,11,13,1) 100%), linear-gradient(180deg, rgba(11,11,13,0.54) 16%, rgba(11,11,13,0.11) 100%), linear-gradient(180deg, rgba(11,11,13,1) 0%, rgba(11,11,13,0) 16%),radial-gradient(circle, rgba(11,11,13,0.15) 0%, rgba(11,11,13,0.9) 99%), url('../IMG/paris-final.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer{

  height: 160px;
  position: relative;
  display:flex;
  top: 850px;
}

.footer svg {
  cursor: pointer;
}

@media (max-width: 800px) {
  .menu {
    flex-direction: column;
    height: auto;
  }

  .menu ul {
    margin-top: 20px;
  }

  .logo-olim {
    margin-bottom: 20px;
  }

  #meio {
    flex-direction: column;
    gap: 30px;
  }

  #Regras #meio .centralizado {
    top: initial;
    left: 50%;
    transform: translateX(-50%);
  }

}